@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "linkedin";
  default: true; /* Optional: set as default theme */
  prefersdark: false;
  color-scheme: light;

  --color-primary: #0A66C2; /* LinkedIn Blue */
  --color-primary-content: #FFFFFF;

  --color-secondary: #FFFFFF; /* LinkedIn Background Gray */
  --color-secondary-content: #0A66C2;

  --color-accent: #01764A; /* LinkedIn Green */
  --color-accent-content: #FFFFFF;

  --color-neutral: #191919; /* Dark Gray */
  --color-neutral-content: #FFFFFF;

  --color-base-100: #F3F2EF; /* Main Background */
  --color-base-200: #F3F2EF;
  --color-base-300: #E5E5E5;
  --color-base-content: #000000;

  --color-info: #5E5E5E; /* Gray Text */
  --color-success: #13A300;
  --color-warning: #EAC54F;
  --color-error: #D93025;

  /* Optional border-radius and spacing */
  --radius-box: 0.5rem;
  --radius-btn: 0.375rem;
  --radius-badge: 1.9rem;
}
